__pycache__/
.DS_Store
.vscode/**
help.sh
tests/application/D.csv
tests/application/H.csv
tests/application/M.csv
tests/application/Q.csv
tests/application/apply_models.py
tests/application/help.ipynb
tests/application/series_feature_calcer.py
tests/application/W.csv
tests/application/Y.csv
tests/application/models_results.csv
tests/application/H_results.csv
tests/application/Y_results.csv
tests/application/Q_results.csv
tests/application/M_results.csv
tests/application/D_results.csv
tests/application/aggregated_results.csv
